body{
    background-color: #040c31;
    color: #ebd02b;
    font-family: cursive;
}
center{
    background-color:#5d6174;
}
ul {
    list-style: none;
    padding: 0;
}
h3 {
    text-shadow: 2px 2px #040c31;
}
#maggot img{
    width: 50%;
}
a {
    font-size: 30px;;
}
p{
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px red;
}
